<!DOCTYPE html>
<html lang="en" class="text-gray-900 antialiased leading-tight">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/tailwind.css">
  <link rel="stylesheet" href="css/main.css">


</head>

<body class="flex flex-col min-h-screen bg-gray-100">

    {{{body}}}

  <script src="js/main.js"></script>
</body>

</html>