<!DOCTYPE html>
<html lang="en" class="text-gray-900 antialiased leading-tight">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/tailwind.css">
  <link rel="stylesheet" href="css/main.css">


</head>

<body class="flex flex-col min-h-screen bg-gray-100">
  
    {{{body}}}

  <footer class="px-3 py-2 pb-24">
    <ul class="flex justify-between">
      <li class="px-2">
        <a href="dashboard"><img src="img/dashboard.png" ></a>
      </li>
      <li class="px-2">
        <a href="accounts"><img src="img/accounts.png" ></a>
      </li>
      <li class="px-2">
        <a href="credit-cards"><img src="img/cc-nav.png" ></a>
      </li>

      <!-- Add transaction -->
      <li class="px-3">
        <a href="add-transaction"><img src="img/transaction.png" ></a>
      </li>

      <li class="px-2">
        <a href="investments"><img src="img/invst.png" ></a>
      </li>
      <li class="px-2">
        <a href="loans"><img src="img/loans.png" ></a>
      </li>
      <li class="px-2">
        <a href="user"><img src="img/user.png" ></a>
      </li>
    </ul>
  </footer>

  <script src="js/main.js"></script>
</body>

</html>