
  <img src="img/bg-header/credit-card.png" alt="">
  <main class="max-w-md flex-grow p-2">
    <div class="rounded overflow-hidden shadow-lg p-2">
      <div class="flex justify-between mb-4">
        <div>
        <h1 class="text-xl font-bold font-mono mb-2 mr-2 inline">CREDIT CARDS</h1>
        <p class="text-sm text-orange-600 font-bold rupee inline">8280</p>
      </div>
        <a onclick="alert('Yo')"><img src="img/add.png" class="h-6"></a>
      </div>
  </main>
