
  <img src="img/bg-header/accounts.png" alt="">
  <main class="max-w-md flex-grow p-2">
    <div class="rounded overflow-hidden shadow-lg p-2">
      <div class="flex justify-between mb-4">
        <div>
        <h1 class="text-xl font-bold font-mono mb-2 mr-2 inline">Loans</h1>
    </div>
  </main>
