
  <img src="img/bg-header/stats.png" alt="">
  <main class="max-w-md flex-grow p-2">
    <div class="rounded overflow-hidden shadow-lg p-2">
      <div class="flex justify-between mb-4">
        <div>
        <h1 class="text-xl font-bold font-mono mb-2 mr-2 inline">Stats</h1>
        <!-- <p class="text-sm text-green-600 font-bold rupee inline">59,800</p> -->
      <!-- </div>
        <a onclick="alert('Yo')"><img src="img/add.png" class="h-6"></a>
      </div> -->

      

  </main>
