
  <img src="img/bg-header/accounts.png" >
  <main class="max-w-md flex-grow p-2">
    <div class="rounded overflow-hidden shadow-lg p-2">
      <div class="flex justify-between mb-4">
        <div>
        <h1 class="text-xl font-bold font-mono mb-2 mr-2 inline">Hey, Rohan</h1>
        <!-- <p class="text-sm text-teal-900 font-bold rupee inline">19,500</p> -->
      <!-- </div>
        <a onclick="alert('Yo')"><img src="img/add.png" class="h-6"></a>
      </div> -->

      
    </div>
  </main>
